@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Imprima&family=Labrada:wght@600&family=Roboto+Mono:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo', snas-serif;
    color: white;
}

body {
    background-image: url("/images/background-home-page-image.png");
}
/* Navigation bar */
header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.menu-item {
    padding: 20px;
}

a {
    text-decoration: none;
}
.submenu {
    padding: 5px;
}

.menu-item, .submenu {
    list-style-type: none;
    align-items: center;
    text-decoration: none;
}

.navbar {
    display: flex;
}

button {
    padding: 10px 40px;
    background-color: white;
    border-radius: 30px;
    border: 2px solid black;
    cursor: pointer;
    color: black;
    font-size: 17px;
}
/* Navigation bar end */

/* Sub navigation bar */

.submenu {
    display: none;
    position: absolute;
}
.menu-item:hover .submenu {
    display: block;
}